{% extends 'base.html.twig' %}

{% block title %}Colas de atenci贸n{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header alert-primary">
            <h1 class="text-center">Atenci贸n al cliente</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="offset-sm-6 offset-md-9 offset-lg-10 col-sm-6 col-md-3 col-lg-2">
                    <a href="{{ path('ticket_new') }}">
                        <button type="button" class="btn btn-success">
                            <i class="bi bi-plus-circle"></i>Agregar ticket
                        </button>
                    </a>
                </div>
            </div>
            {% include('messages/messages.html.twig') %}
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6" id="app">
                    <div class="card">
                        <div class="card-header alert-info">
                            <h2 class="text-center text-capitalize">Cola de atenci贸n #1</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i, ticket in colaAtencion1 %}
                                    <tr>
                                        <td>{{ paginaActual>1?((paginaActual-1)*10)+i+1 : i+1}}</td>
                                        <td>{{ ticket.id }}</td>
                                        <td>{{ ticket.nombre }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center">No se encontraron datos</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer alert-info">
                            <div class="col-sm-12 offset-md-4 col-md-8 offset-lg-6 col-lg-6">
                                 Tiempo de espera total: <span class="text-dark">{{ tiemposEsperasColas[0] }}</span> minutos
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" id="app">
                    <div class="card">
                        <div class="card-header alert-info">
                            <h2 class="text-center text-capitalize">Cola de atenci贸n #2</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i, ticket in colaAtencion2 %}
                                    <tr>
                                        <td>{{ paginaActual>1?((paginaActual-1)*10)+i+1 : i+1}}</td>
                                        <td>{{ ticket.id }}</td>
                                        <td>{{ ticket.nombre }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center">No se encontraron datos</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer alert-info">
                        <div class="col-sm-12 offset-md-4 col-md-8 offset-lg-6 col-lg-6">
                            Tiempo de espera total: <span class="text-dark">{{ tiemposEsperasColas[1] }}</span> minutos
                        </div>
                    </div>
                </div>
            </div><!-- End Table -->
        </div>
    </div>
</div>
{% endblock %}